<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.organization.OrganizationMapper">

    <resultMap id="organizationMap" type="org.topview.entity.organization.po.Organization">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="logoUrl" column="logo_url"/>
        <result property="tel" column="tel"/>
        <result property="category" column="category"/>
        <result property="introduction" column="introduction"/>
        <result property="status" column="status"/>
        <result property="apikey" column="apikey"/>
        <result property="accountBalance" column="account_balance"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <update id="updateByPrimaryKey">
        UPDATE organization
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="logoUrl != null">logo_url = #{logoUrl},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="category != null">category = #{category},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="linkman != null">linkman = #{linkman},</if>
            <if test="status != null">status = #{status},</if>
            <if test="apikey != null">apikey = #{apikey},</if>
            <if test="accountBalance != null">account_balance = #{accountBalance},</if>
            <if test="adminId != 0">admin_id = #{adminId}</if>
        </set>
        <where>id = #{id}</where>
    </update>

    <select id="selectByPrimaryKey" parameterType="int" resultMap="organizationMap">
        SELECT
            id,name,logo_url,tel,
            category,introduction,linkman,admin_id
        FROM organization
        WHERE id = #{organizationId}
    </select>

    <select id="getOrganizationIdByAdminId" parameterType="Integer" resultType="Integer">
        SELECT id FROM organization WHERE admin_id = #{adminId }
    </select>

    <select id="getOrganizationStatusById" parameterType="Integer" resultType="Integer">
        SELECT status from organization WHERE id = #{id}
    </select>

    <select id="getOrganizationPhotosByCategory" parameterType="String"
            resultType="org.topview.entity.organization.vo.OrganizationPhotoVo">
        SELECT
        name,logo_url as logoUrl,category
        FROM organization
        WHERE category = #{category}
    </select>

    <select id="selectOrganizationByStatus" resultType="org.topview.entity.organization.bo.OrganizationBo">
        select o.id id,o.name name,o.category category,o.introduction introduction,o.linkman linkman,
               o.tel tel,u.id userId,u.wechat wechat from organization o, user u
        where status=#{status} and o.admin_id=u.id order by o.id
    </select>


    <update id="updateOrganizationStatus">
        update organization set status=#{status} where id=#{id}
    </update>

</mapper>