<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.organization.SlideshowMapper">

    <select id="selectSlideShow" resultType="org.topview.entity.organization.bo.SlideshowBo">
        select photo_url url,organization_id organizationId from slideshow where status=1 limit 5
    </select>

</mapper>