<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.organization.UserMapper">

    <resultMap id="BaseResultMap" type="org.topview.entity.organization.po.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="wechat" property="wechat"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, username, password, tel, wechat, role_id, status
    </sql>

    <insert id="insertUser" parameterType="org.topview.entity.organization.po.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username,password,tel,wechat,role_id,status)
        VALUES (#{username},#{password},#{tel},#{wechat},#{roleId},#{status})
    </insert>

    <select id="selectUserByUsername" resultType="org.topview.entity.organization.po.User" parameterType="org.topview.entity.organization.po.User">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE username=#{username}
    </select>

    <select id="checkOldPassword" resultType="java.lang.Integer">
        select password=md5(#{password}) isEqual from user where id=#{id}
    </select>

    <update id="updatePassword" >
        update user set password=md5(#{password}) where id=#{id}
    </update>

    <select id="hasUsername" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM user WHERE username = #{username}
    </select>

    <select id="getDepartmentAdmin"
            parameterType="Integer"
            resultType="org.topview.entity.organization.po.User">
        SELECT id,username,password,tel,wechat,role_id as roleId
        FROM user
        WHERE id = (SELECT user_id From department WHERE id = #{departmentId})
    </select>

    <update id="updateDepartmentAdmin" parameterType="org.topview.entity.organization.po.User">
        UPDATE user
        <set>
            <if test="password != null">password=#{password},</if>
            <if test="tel != null">tel=#{tel},</if>
            <if test="wechat != null">wechat=#{wechat},</if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="deleteDepartmentAdmin" parameterType="Integer">
        DELETE FROM user WHERE id = (SELECT user_id FROM department WHERE id = #{departmentId});
        UPDATE department SET user_id = 0 WHERE id = #{departmentId}
    </delete>

    <select id="selectRoleByUserId" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT name FROM role r, user u WHERE r.id=u.role_id AND u.id=#{userId}
    </select>

    <update id="updateUserStatus">
        update user set status=#{status} where id=#{id}
    </update>

    <select id="selectDepartmentUserId" resultType="java.lang.Integer">
        select user_id from department where organization_id=#{organizationId}
    </select>

    <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
        select * from user where id = #{id}
    </select>
</mapper>