<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.application.ApplicationResultMapper">


    <select id="listSpecificAppId" resultType="integer">
        select application_id from application_result where stage_id = #{stageId} and status = #{status}
    </select>

    <select id="checkResult" resultType="ApplicationResult">
        select * from application_result where application_id = #{applicationId}
    </select>

    <update id="handleApplication" parameterType="int">
        update application_result set status = #{status} where application_id = #{applicationId}
    </update>
</mapper>

    <!--<select id="getRole" parameterType="int"  resultType="java.lang.Integer" >-->
        <!--select rid from user_role where uid=#{userId}-->
    <!--</select>-->
    <!--&lt;!&ndash;<resultMap id="roleMap" type="java.util.Map">&ndash;&gt;-->
    <!--&lt;!&ndash;<result property="roleId" column="rid" jdbcType="INTEGER"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</resultMap>&ndash;&gt;-->

    <!--<insert id="addUser" parameterType="User">-->
        <!--insert into t_user(name,password,email,tel,addr,state,activeCode) values(#{name},#{password},#{email},#{tel},#{addr},#{state},#{activeCode})-->
    <!--</insert>-->


