<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.application.ApplicationResultMapper">


    <select id="listSpecificApplicationId" resultType="integer">
        select application_id from application_result where stage_id = #{param2} and status = #{param1}
    </select>

    <!--suppress MybatisMapperXmlInspection -->
    <select id="checkResult" resultType="ApplicationResult">
        select application_id applicationId, stage_id stageId, status status, end_time endTime from application_result
        where application_id = #{applicationId} and stage_id =
        (select max(stage_id) from application_result where application_id = #{applicationId})
    </select>

    <!--<select id="selectMaxStageId" parameterType="int" resultType="int">-->
        <!--select max(stage_id) from application_result where application_id = #{applicationId}-->
    <!--</select>-->

    <update id="handleApplication">
        update application_result set status = #{param2} ,end_time = #{param4} where application_id = #{param1} and stage_id = #{param3}
    </update>
</mapper>

    <!--<select id="getRole" parameterType="int"  resultType="java.lang.Integer" >-->
        <!--select rid from user_role where uid=#{userId}-->
    <!--</select>-->
    <!--&lt;!&ndash;<resultMap id="roleMap" type="java.util.Map">&ndash;&gt;-->
    <!--&lt;!&ndash;<result property="roleId" column="rid" jdbcType="INTEGER"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</resultMap>&ndash;&gt;-->

    <!--<insert id="addUser" parameterType="User">-->
        <!--insert into t_user(name,password,email,tel,addr,state,activeCode) values(#{name},#{password},#{email},#{tel},#{addr},#{state},#{activeCode})-->
    <!--</insert>-->


