<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.department.DepartmentMapper">
    <resultMap id="department_map" type="Department">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="logoUrl"  column="logo_url"/>
        <result property="introduction" column="introduction"/>
        <result property="messageNum" column="message_num"/>
        <result property="userId" column="user_id"/>
    </resultMap>

</mapper>