<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.department.DepartmentMapper">
    <resultMap id="department_map" type="Department">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="logoUrl"  column="logo_url"/>
        <result property="introduction" column="introduction"/>
        <result property="messageNum" column="message_num"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <resultMap id="departmentVo_map" type="org.topview.entity.department.vo.DepartmentVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="logoUrl"  column="logo_url"/>
        <result property="introduction" column="introduction"/>
        <result property="messageNum" column="message_num"/>
        <association property="user" column="user_id" select="org.topview.dao.organization.UserMapper.selectByPrimaryKey"/>
    </resultMap>

    <update id="updateDepartmentAdmin">
        UPDATE department SET user_id = #{userId} WHERE id = #{departmentId}
    </update>


    <select id="selectByPrimaryKey" resultMap="department_map">
        select * from department where id = #{pk}
    </select>

    <!--修改部门-->
    <update id="updateByExample" parameterType="Department">
        update department set name = #{name}, logo_url = #{logoUrl}, introduction = #{introduction} where id = #{id}
    </update>

    <!--新增部门-->
    <insert id="insert" parameterType="Department">
        insert into department (organization_id, name, logo_url, introduction) values (#{organizationId}, #{name},#{logoUrl}, #{introduction})
    </insert>

    <!--获取社团部门-->
    <select id="listDepartmentByOrganizationId" parameterType="int" resultMap="departmentVo_map">
        select * from department where organization_id = #{id}
    </select>

</mapper>