<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.department.DepartmentMapper">
    <resultMap id="department_map" type="Department">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="logoUrl"  column="logo_url"/>
        <result property="introduction" column="introduction"/>
        <result property="messageNum" column="message_num"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="department_map">
        select * from department where id = #{pk}
    </select>

    <update id="updateByExample" parameterType="Department">
        update department set name = #{name}, logo_url = #{logoUrl}, introduction = #{introduction} where id = #{id}
    </update>

</mapper>