<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topview.dao.department.StageMapper">

    <resultMap id="stage_map" type="org.topview.entity.department.po.Stage">
        <id property="id" column="id"/>
        <result property="stageName" column="stage_name"/>
        <result property="departmentId"  column="department_id"/>
    </resultMap>

    <!--新增招新阶段-->
    <insert id="insert" parameterType="Stage" useGeneratedKeys="true" keyProperty="id">
        insert into stage (stage_name, department_id) VALUES (#{stageName}, ${departmentId})
    </insert>

    <!--删除招新阶段-->
    <delete id="deleteByPrimaryKey" parameterType="int">
        delete from stage where id = #{id}
    </delete>

    <!--查找出同一个部门的所有阶段-->
    <select id="listStageByDepartmentId" parameterType="int" resultMap="stage_map">
        select * from stage where department_id = #{departmentId}
    </select>

    <!--修改阶段名称-->
    <update id="updateByPrimaryKey" parameterType="Stage">
        update stage set stage_name = #{stageName} where id = ${id}
    </update>

    <!--通过主键获取阶段-->
    <select id="selectByPrimaryKey" parameterType="int" resultMap="stage_map">
        select * from stage where id = #{id}
    </select>
    
    
    

</mapper>